* { 
  font-family:Consolas, monospace;
}

body {
  background-color: white;
  min-height: 100vh;
}

.logoTop{
  display: grid;
      place-items: center;
}

.GeneratedText {
font-family:Consolas, monospace;
font-size:2em;letter-spacing:0.2em;
line-height:1.3em;
color:#000000;
padding:1.5em;
width: 20%;
}

a {
text-decoration: none;
color: black;

}

a:hover {
  background-color: black;
  color: white;
}

.cards {
  margin: auto;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 950px;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url("Item1.png");
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url("Item3.png");
}

.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #ad7d52;
}
.card__time {
  font-size: 12px;
  color: #ad7d52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}
.card {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}

.card__by {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}

.size {
  margin: 1em;
  padding: 15px 30px;
  font-size: 0.7em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: black;
  color: white;
}

.size:hover{
  color: black;
   background: white;
}

.size:focus{
  color: black;
   background: white;
}

.Join1 {
  min-width: 100%;
  width: 5%;
}

.Join2 {
  margin: 1em;  
  min-width: 100%;
  width: 51%;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  color: white;
}