* { 
  font-family:Consolas, monospace;
}

body {
	background-color: white;
  min-height: 100vh;
}

.logoTop{
	display: grid;
      place-items: center;
}

.GeneratedText {
font-family:Consolas, monospace;
font-size:2em;letter-spacing:0.2em;
line-height:1.3em;
color:#000000;
padding:1.5em;
width: 20%;
}

a {
text-decoration: none;
color: black;

}

a:hover {
	background-color: black;
	color: white;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-right: 1.4%;
    margin-left: 1.4%;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.txt {
	width: 50%;
	margin: auto;
}

.contactUs {
	margin: auto;
}

footer {
	margin: auto;
}

button {
  margin: 1em;
  padding: 10px 23px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: black;
	color: white;
}

button:hover {
	background-color: white;
	color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");

:root {
  --shadow-green: #9bc1bc;
  --riptide: #79e5cb;
  --matise: #2374ab;
  --white: #fff;

  --base-font: "Karla", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.product-card {
  max-width: 150px;
  flex-basis: 180px;
  flex-grow: 1;
  background-color: var(--white);

  @media screen and (max-width: 440px) {
    max-width: 100%;
  }
}

.footer{
  text-align: center;
}

.space {
  width: 200px;
}

.wrapper {
  height: 200px;
  width: 600px;
  position: absolute;
}

.wrapper1 {
  height: 200px;
  width: 600px;
  position: absolute;
}

.product-img {
  float: left;
  height: 420px;
  width: 427px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}



.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 30px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;

  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  
  font-size: 34px;
}

.product-price-btn button {
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

.look {
  float: right;
}
